*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}
.parent{
    width: 300px;
    height: 300px;
    background-color: gray;
    
}

.day{
    padding: 10px;
    font-size: 25px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;

}

